{% extends "base.html" %}

{% block content %}
  <header>
    <h1>Submit Quote</h1>
  </header>
  <div class="box">
    {% for message in messages %}
      <p class="{{ message.tags }}">
        Your quote was successfully submitted, thank you! :-)
      </p>
    {% empty %}
      <p class="info">
        Fill in the form below to suggest/submit a quote.
      </p>

      <form method="post" action="/submit/">
        {% csrf_token %}
        {{ form }}
        <div class="actions">
          <input type="submit" value="Submit" class="btn primary" />
        </div>
      </form>
    {% endfor %}
  </div>

  {% include "home_link.html" %}

{% endblock %}
